[project]
name = "metis"
version = "0.7.0"
description = "Metis is a command line tool for performing security code reviews using LLMs"
readme = "README.md"
license = { file = "LICENSE.md" }
keywords = ["security", "llm", "code-review"]
requires-python = ">=3.12.0"
dependencies = [
    "llama-index>=0.14.7",
    "llama-index-vector-stores-chroma>=0.5.3",
    "langchain>=1.0.3",
    "langchain-openai>=1.0.1",
    "langgraph>=1.0.2",
    "rich>=14.0.0",
    "PyYAML>=6.0.2",
    "prompt_toolkit>=3.0.51",
    "unidiff>=0.7.5",
    "tree-sitter>=0.25.2",
    "tree-sitter-language-pack>=0.9.0",
    "chromadb>=1.1.1",
    "pydantic>=2.12.3"
]

[build-system]
requires = ["setuptools>=80.9.0"]
build-backend = "setuptools.build_meta"

[project.scripts]
metis = "metis.cli.entry:main"

[project.optional-dependencies]
postgres = ["llama-index-vector-stores-postgres>=0.5.4"]
test = ["pytest>=8.4.0"]

lint = [
  "ruff>=0.12.1",
  "black>=25.1.0",
  "mypy>=1.16.1",
  "pre-commit>=4.2.0"
]

azure = [
  "llama-index-embeddings-azure-openai>=0.4.0"
]

dev = [
  "metis[test]",
  "metis[lint]"
]

[tool.setuptools]
include-package-data = true

[tool.setuptools.package-data]
metis = ["metis.yaml"]
"metis.plugins" = ["plugins.yaml"]
"metis.cli" = ["report_template.html"]
"metis.schemas" = ["*.json"]

[project.entry-points."metis.plugins"]
python = "metis.plugins.python_plugin:PythonPlugin"
c = "metis.plugins.c_plugin:CPlugin"
cpp = "metis.plugins.cpp_plugin:CppPlugin"
rust = "metis.plugins.rust_plugin:RustPlugin"
terraform = "metis.plugins.terraform_plugin:TerraformPlugin"
tablegen = "metis.plugins.tb_plugin:TableGenPlugin"
typescript = "metis.plugins.typescript_plugin:TypeScriptPlugin"
