name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: read-all

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-14]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Create virtual environment
        run: uv venv

      - name: Install test dependencies
        run: uv pip install '.[test]'

      - name: Run tests
        run: uv run pytest

      - name: Run pre-commit checks
        run: |
          uv pip install pre-commit
          uv run pre-commit run --all-files --show-diff-on-failure

      - name: Run Bandit
        run: |
          uv pip install bandit
          uv run bandit -r . -x "./.venv/*","./tests" --severity-level medium
